@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .animate-text {
    background-size: 200% auto;
    animation: text 5s linear infinite;
  }
}

@keyframes text {
  to {
    background-position: 200% center;
  }
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-100% - 2rem)); }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

.pause {
  animation-play-state: paused;
}
